main {
    margin-top: 0;
    background-color: white;
    padding: 10px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    color: rgb(224, 15, 15);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
  }
  nav a.active {
    text-decoration: underline;
  }
  