body {
  font-family: Arial, sans-serif !important;
  background-image: url("homepage-background.jpg") !important;
  background-repeat: repeat !important;
  background-size: cover !important;
}
#trending {
  font-size: 24px;
  font-weight: bold;
  font-family: "Verdana", sans-serif;
  color: #2e1042;
  text-align: center;
}
#welcome {
  font-size: 24px;
  font-weight: bold;
  font-family: "Verdana", sans-serif;
  color: #2e1042;
  text-align: center;
}
