body {
  background-color: #f4f4ed;
}
footer {
  background-color: #f9d252;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Verdana", sans-serif;
  font-size: 1rem;
  color: #2e1042;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
