body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding-top: 60px;
  padding-bottom: 30px;
}

.container {
  margin-bottom: 30px;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #F4CF3A;
  z-index: 999; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: "Verdana", sans-serif;
}

nav a {
  margin-right: 20px;
  text-decoration: none;
  color: #2e1042;
}

nav a:last-child {
  margin-right: 0;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #2e1042;
  text-decoration: none;
  margin-right: auto;
}

footer {
  position: relative;
  z-index: 1;
}
.brain-logo {
  width: 80px;
  height: 55px;
  margin-left: 20px;
  margin-bottom: -10px;
}

footer {
  background-color: #f9d252;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Verdana", sans-serif;
  font-size: 1rem;
  color: #2e1042;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
