.deck-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.deck-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #333;
  background-color: #6decaf;
  padding: 20px;
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-family: "Verdana", sans-serif;
}

.deck-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.deck-card h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.deck-card p {
  margin-bottom: 5px;
}

.deck-card .tags {
  color: #5e239d;
  font-size: 14px;
}

.deck-card .likes {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.deck-card .like-button {
  background-color: transparent;
  border: none;
  color: #5e239d;
  font-size: 1.3rem;
  margin-right: 5px;
  cursor: pointer;
}

.activeLink {
  text-decoration: underline;
}
